.hero-container {
    background: url('/images/black.jpg') center center/cover no-repeat;
    height: 100vh; /* Full viewport height */
    width: 100%;
    display: flex;
    justify-content: space-between; /* Ensure left and right are spaced apart */
    align-items: center; /* Center content vertically */
    padding: 0 10%; /* Add padding for spacing */
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.hero-left h1{
    font-size: 40px;
    color: white;
}

.hero-left p{
    padding-top: 10px;
    font-size: 25px;
    color: white;
}

/* Ensure left and right sections take up equal space */
.hero-left, .hero-right {
    flex: 1; /* Each section takes equal space */
}

/* Ensure text stays aligned to the left */
.hero-left {
    text-align: center;
    margin-bottom: 150px;
    justify-content: space-around;
}

.hero-right{
    margin-left: 80px;
    margin-bottom: 100px;
}

/* Adjust right side image */
.hero-right img {
    width: 500px; /* Adjust size */
    height: 500px;
    border-radius: 50%; /* Makes it a perfect circle */
    object-fit: cover; /* Ensures content fits */
    overflow: hidden; /* Hide extra pixels */
}



.hero-container > h1 {
    color: #fff;
    font-size: 50px;
    margin-top: 0; /* Remove negative margin */
    text-align: center; /* Center text */
}

.hero-container > p {
    margin-top: 16px; /* Adjust margin */
    color: #fff;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
    text-align: center; /* Center text */
}

.hero-btns {
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap; /* Allow buttons to wrap on smaller screens */
    justify-content: center; /* Center buttons horizontally */
}

.hero-btns .btn {
    margin: 6px;
}

.fa-play-circle {
    margin-left: 4px;
}

@media screen and (max-width: 970px) {
    .hero-container > h1 {
        font-size: 40px; /* Adjust font size for smaller screens */
        margin-top: 0; /* Remove negative margin */
    }

    .hero-container > p {
        font-size: 24px; /* Adjust font size for smaller screens */
    }
}

@media screen and (max-width: 768px) {
    .hero-container > h1 {
        font-size: 30px; /* Further reduce font size for smaller screens */
    }

    .hero-container > p {
        font-size: 20px; /* Further reduce font size for smaller screens */
    }

    .btn-mobile {
        display: block;
        text-decoration: none;
    }

    .btn {
        width: 100%; /* Full-width buttons on smaller screens */
    }
}